<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Policy List</title>
</head>
<body>
<h1>List of Policies</h1>

<div th:if="${policies.isEmpty()}">
    <p>No policies available.</p>
</div>

<div th:if="${not policies.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>Policy Name</th>
            <th>Description</th>
            <th>Premium Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="policy : ${policies}">
            <td th:text="${policy.name}"></td>
            <td th:text="${policy.description}"></td>
            <td th:text="${policy.premiumAmount}"></td>
            <td>
                <a th:href="@{/admin/policies/{id}/customers(id=${policy.policyId})}">View Customers</a> |
                <a th:href="@{/admin/policies/{id}/claimed-customers(id=${policy.policyId})}">
                    View Customers Who Claimed Policy
                </a> |
                <a th:href="@{/admin/policies/edit/{id}(id=${policy.policyId})}">Edit</a> |
                <form th:action="@{/admin/policies/delete/{id}(id=${policy.policyId})}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a href="/admin/policies/create">Create New Policy</a>
</body>
</html>
