<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Policy List</title>
</head>
<body>
<h1>List of Policies</h1>

<div th:if="${policies.isEmpty()}">
  <p>No policies available.</p>
</div>

<div th:if="${not policies.isEmpty()}">
  <table>
    <thead>
    <tr>
      <th>Policy Name</th>
      <th>Description</th>
      <th>Premium Amount</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="policy : ${policies}">
      <td th:text="${policy.name}"></td>
      <td th:text="${policy.description}"></td>
      <td th:text="${policy.premiumAmount}"></td>
      <td><a th:href="@{/customer/apply-policy/{id}(id=${policy.policyId})}">Apply</a></td>


    </tr>
    </tbody>
  </table>
</div>
<a href="/customer/home">Back to Home</a>

</body>
</html>
